// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#footer {
  p { display: none; }
}

td.col {
  &.col-population {
    text-align: right;
  }
}

.panel.place-details {
  .zomato-link {
    padding: 15px 30px;
    background-color: #666;
    font-size: 28px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    left: 15%;
    position: absolute;
  }
  .static-map {
    max-width: 96%;
    border: 4px solid #ddd;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
a.button.has_many_add {
  float: left;
  margin: 10px 10px 0 0;
}
fieldset.inputs.has_many_fields.double-items {
    width: 49%;
    float: left;
    margin-right: 1%;
}
h4.warning {
  background-color: #fdb;
  padding: 5px 0;
  color: #884;
  border: 2px solid rgba(160,120,120, 0.3);
  text-align: center;
}
h4.success {
  background-color: #dfd;
  border: 2px solid rgba(120,160,120, 0.3);
  padding: 5px 0;
  color: #884;
  text-align: center;
}
body.active_admin {
  @import 'select2'
}
